workflows/Gmail Processor3.0.json
{
  "name": "Gmail Processor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        0
      ],
      "id": "f1210548-84e0-4abe-bcd8-e9254deaeb13",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        0
      ],
      "id": "4ab108f6-f574-4ce8-8e74-53c810ab4335",
      "name": "Get a message",
      "webhookId": "a02f6a94-015f-4280-b00a-b43feebea18e",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nfunction decodeMimeWord(str) {\n  if (!str || typeof str !== \"string\") return \"\";\n\n  return str.replace(/=\\?([^?]+)\\?([BQbq])\\?([^?]+)\\?=/g, (_, charset, encoding, text) => {\n    try {\n      if (encoding.toUpperCase() === \"B\") {\n        return Buffer.from(text, \"base64\").toString(\"utf8\");\n      }\n\n      // Q-encoding\n      const qp = text\n        .replace(/_/g, \" \")\n        .replace(/=([A-Fa-f0-9]{2})/g, (_, hex) =>\n          String.fromCharCode(parseInt(hex, 16))\n        );\n\n      return Buffer.from(qp, \"binary\").toString(\"utf8\");\n    } catch {\n      return text;\n    }\n  });\n}\n\nfunction cleanHeader(value) {\n  if (value === null || value === undefined) return \"\";\n\n  if (Array.isArray(value)) {\n    value = value.join(\" \");\n  }\n\n  if (typeof value !== \"string\") {\n    value = String(value);\n  }\n\n  return decodeMimeWord(value).replace(/^[A-Za-z-]+:\\s*/, \"\").trim();\n}\n\nfunction parseAddressField(value) {\n  if (!value) {\n    return {\n      text: \"\",\n      name: \"\",\n      email: \"\",\n    };\n  }\n\n  // Already plain string\n  if (typeof value === \"string\") {\n    const cleaned = cleanHeader(value);\n    const match = cleaned.match(/^(.*?)(?:\\s*<([^>]+)>)?$/);\n\n    return {\n      text: cleaned,\n      name: match?.[1]?.trim().replace(/^\"|\"$/g, \"\") || \"\",\n      email: match?.[2]?.trim() || \"\",\n    };\n  }\n\n  // Common object format from n8n/mailparser-style fields\n  if (typeof value === \"object\") {\n    if (value.text) {\n      const cleaned = cleanHeader(value.text);\n      const first = value.value?.[0];\n\n      return {\n        text: cleaned,\n        name: first?.name ? decodeMimeWord(first.name).trim() : \"\",\n        email: first?.address || \"\",\n      };\n    }\n\n    // Sometimes just { address, name }\n    if (value.address || value.name) {\n      const name = value.name ? decodeMimeWord(String(value.name)).trim() : \"\";\n      const email = value.address ? String(value.address).trim() : \"\";\n      return {\n        text: name && email ? `${name} <${email}>` : name || email,\n        name,\n        email,\n      };\n    }\n\n    // Sometimes array-like inside object\n    if (Array.isArray(value.value) && value.value.length > 0) {\n      const first = value.value[0];\n      const name = first?.name ? decodeMimeWord(String(first.name)).trim() : \"\";\n      const email = first?.address ? String(first.address).trim() : \"\";\n      return {\n        text: name && email ? `${name} <${email}>` : name || email,\n        name,\n        email,\n      };\n    }\n  }\n\n  return {\n    text: cleanHeader(value),\n    name: \"\",\n    email: \"\",\n  };\n}\n\nfunction cleanBody(text) {\n  if (!text) return \"\";\n\n  return String(text)\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .replace(/\\\\n/g, \"\\n\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .replace(/[ \\t]{2,}/g, \" \")\n    .trim();\n}\n\nconst fromParsed = parseAddressField(item.from);\nconst toParsed = parseAddressField(item.to);\n\nreturn [\n  {\n    json: {\n      id: item.id ?? \"\",\n      threadId: item.threadId ?? \"\",\n\n      subject: cleanHeader(item.subject),\n      date: cleanHeader(item.date),\n\n      from: fromParsed.text,\n      fromName: fromParsed.name,\n      fromEmail: fromParsed.email,\n\n      to: toParsed.text,\n      toName: toParsed.name,\n      toEmail: toParsed.email,\n\n      body: cleanBody(item.text || item.html || \"\"),\n      html: item.html || \"\",\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        0
      ],
      "id": "e9037bae-22c4-4403-b18f-59eb5bef7a28",
      "name": "Gmail Parser"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet body = item.body || \"\";\n\n// convert ANY escaped newline into real newline\nbody = body.replace(/\\s*\\\\n\\s*/g, \"\\n\");\nbody = body.replace(/\\s*\\\\r\\s*/g, \"\\n\");\nbody = body.replace(/\\s*\\\\r\\\\n\\s*/g, \"\\n\");\n\n// remove URLs\nbody = body.replace(/https?:\\/\\/[^\\s]+/g, \"\");\n\n// remove tracking params\nbody = body.replace(/trackingId=[^\\s]+/gi, \"\");\n\n// remove long junk tokens\nbody = body.replace(/[A-Za-z0-9_-]{30,}/g, \"\");\n\n// remove LinkedIn footer\nbody = body.replace(/Manage your job alerts[\\s\\S]*/i, \"\");\n\n// normalize whitespace\nbody = body.replace(/[ \\t]+/g, \" \");\nbody = body.replace(/\\n{3,}/g, \"\\n\\n\");\n\nbody = body\n  .split(\"\\n\")\n  .map(line => line.trim())\n  .filter(line => line.length > 2)\n  .join(\"\\n\")\n  .trim();\n\nreturn [\n  {\n    json: {\n      ...item,\n      cleanBody: body,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "41f8adca-b5d1-4676-8567-e776c46b6c93",
      "name": "Gmail Body Cleaner"
    },
    {
      "parameters": {
        "inputText": "=Subject: {{$json.subject}}\n\nFrom: {{$json.fromName}}\n\nBody:\n{{$json.cleanBody}}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "marketing emails, discounts, newsletters, event promotions, product promotions"
            },
            {
              "category": "Social",
              "description": "social network notifications, community updates, network activity alerts"
            },
            {
              "category": "Personal",
              "description": "direct person-to-person communication that does not fit another category"
            },
            {
              "category": "Job Listings",
              "description": "job alerts, hiring messages, recruiting emails, application-related job opportunities"
            },
            {
              "category": "Passwords & Requests",
              "description": "password resets, login codes, account security alerts, urgent account action requests"
            },
            {
              "category": "Receipts",
              "description": "receipts, invoices, payment confirmations, billing notices, order confirmations"
            },
            {
              "category": "Misc",
              "description": "anything unclear or not fitting the above"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        160,
        -80
      ],
      "id": "5e9e6884-5e3d-4eba-9a65-b6fb89df5850",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "b7797d52-4428-455b-9c56-ac4f93a6371f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SxVLYHLogdq2vGFz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "delete",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -400
      ],
      "id": "a7f57017-9036-41e7-8a18-47b0a871e250",
      "name": "Delete a thread",
      "webhookId": "af7a0b49-9973-4ddd-a5f5-91a6ae6b0d76",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        -64
      ],
      "id": "214f075f-07b7-471e-a630-8fe75d5db10f",
      "name": "Full Merge"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "labelIds": [
          "Label_6006438400318700777"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        -16
      ],
      "id": "6e565f68-0744-420c-9dba-6d74d9887c72",
      "name": "Add Processed-AI Label",
      "webhookId": "61529e8f-2e13-47eb-b0cd-e2656279de72",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "labelIds": [
          "Label_5534136234046530165"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -80
      ],
      "id": "ef331027-2048-41d3-acf0-f5c5ad812c91",
      "name": "Adds Personal Label",
      "webhookId": "61529e8f-2e13-47eb-b0cd-e2656279de72",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -240
      ],
      "id": "9297e1ba-ef0b-44d7-b3e3-0cf8e1ece520",
      "name": "Adds Socials Label",
      "webhookId": "61529e8f-2e13-47eb-b0cd-e2656279de72",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -400
      ],
      "id": "fbcd8d36-cf3e-470c-a1c7-1bf3b0e28d05",
      "name": "Adds Promotion Label",
      "webhookId": "61529e8f-2e13-47eb-b0cd-e2656279de72",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI assistant that summarizes emails for a spreadsheet log.\n\nReturn ONLY JSON like this:\n\n{\n\"summary\": \"1-2 sentence explanation of the email\",\n\"snippet\": \"5-10 word description\"\n}\n\nEMAIL DATA\n\nSubject:\n{{ $('Gmail Body Cleaner').item.json.subject }}\n\nSender:\n{{ $('Gmail Body Cleaner').item.json.fromName }}\n\nBody:\n{{ $('Gmail Body Cleaner').item.json.cleanBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        752,
        -240
      ],
      "id": "0662b190-d5cc-4cf0-8e92-f889d38e54aa",
      "name": "Email Summary",
      "credentials": {
        "googlePalmApi": {
          "id": "SxVLYHLogdq2vGFz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are helping draft an email reply.\n\nWrite a polite, natural-sounding response to the email below.\n\nInstructions:\n- Sound human and natural\n- Match the sender's tone\n- Keep it concise unless more detail is needed\n- Do not make up information\n- Do not include a subject line\n- Always end the email with:\n\nBest,\nCayden\n\nReturn ONLY valid JSON in this format:\n\n{\n  \"replyDraft\": \"full reply text\"\n}\n\nEmail subject:\n{{ $('Gmail Body Cleaner').item.json.subject }}\n\nFrom:\n{{ $('Gmail Body Cleaner').item.json.fromName }}\n\nEmail body:\n{{ $('Gmail Body Cleaner').item.json.cleanBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        752,
        -80
      ],
      "id": "1fc51c98-d23c-4d9a-bb6a-a6d42b04703d",
      "name": "Email Draft",
      "credentials": {
        "googlePalmApi": {
          "id": "SxVLYHLogdq2vGFz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Body Cleaner').item.json.subject }}",
        "message": "={{ $json.replyDraft }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Body Cleaner').item.json.fromEmail }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -80
      ],
      "id": "3376515e-0ed4-4a54-b580-245de01f4562",
      "name": "Create a draft",
      "webhookId": "350b93cf-2787-4963-9640-6ec041ce916e",
      "credentials": {
        "gmailOAuth2": {
          "id": "92O4cpN50cXJmJxN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const parsed = JSON.parse(item.json.content.parts[0].text);\n\n  return {\n    json: {\n      ...item.json,\n      replyDraft: parsed.replyDraft,\n      subject: $('Gmail Body Cleaner').item.json.subject,\n      fromEmail: $('Gmail Body Cleaner').item.json.fromEmail,\n      threadId: $('Gmail Body Cleaner').item.json.threadId,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -80
      ],
      "id": "35728ccc-783c-4e1e-84c3-9320e90bc037",
      "name": "JSON Gmail Formatter"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.content.parts[0].text;\n\n// remove newlines Gemini adds\nconst cleaned = text.trim();\n\n// parse the JSON string\nconst parsed = JSON.parse(cleaned);\n\nreturn [\n{\n  json: {\n    id: $('Gmail Body Cleaner').item.json.id,\n    date: $('Gmail Body Cleaner').item.json.date,\n    subject: $('Gmail Body Cleaner').item.json.subject,\n    summary: parsed.summary,\n    snippet: parsed.snippet\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -240
      ],
      "id": "e721b512-d98b-41d9-a222-e3ac879925c2",
      "name": "JSON Sheets Formatter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18gUd4hojIAkbb7wnKob7o6B6JaR9qTKBkO-tb_J-NfY",
          "mode": "list",
          "cachedResultName": "Email Summary n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18gUd4hojIAkbb7wnKob7o6B6JaR9qTKBkO-tb_J-NfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18gUd4hojIAkbb7wnKob7o6B6JaR9qTKBkO-tb_J-NfY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Date": "={{ $json.date }}",
            "Subject Line": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Snippet": "={{ $json.snippet }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        -240
      ],
      "id": "4cb1b17b-be05-43b6-851d-94747d35b691",
      "name": "Adds Info to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FfiohPXeA6UYDqAB",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Gmail Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Parser": {
      "main": [
        [
          {
            "node": "Gmail Body Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Body Cleaner": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Adds Promotion Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adds Socials Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adds Personal Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a thread": {
      "main": [
        [
          {
            "node": "Full Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Merge": {
      "main": [
        [
          {
            "node": "Add Processed-AI Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Socials Label": {
      "main": [
        [
          {
            "node": "Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Promotion Label": {
      "main": [
        [
          {
            "node": "Delete a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Personal Label": {
      "main": [
        [
          {
            "node": "Email Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summary": {
      "main": [
        [
          {
            "node": "JSON Sheets Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Draft": {
      "main": [
        [
          {
            "node": "JSON Gmail Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Gmail Formatter": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Sheets Formatter": {
      "main": [
        [
          {
            "node": "Adds Info to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Info to Google Sheets": {
      "main": [
        [
          {
            "node": "Full Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Full Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42889b88-ebe5-4dea-8039-1f3473d123b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef94184010d29bc9ee3765066e0f5687aac4094436c50fb427f99c482dafcdea"
  },
  "id": "V3ltZ5qmvaLHVJMk",
  "tags": []
}